@media screen and (min-width: 375px) and (max-width: 764px) {
  .bloc {
    display:block;
    clear:both;
  }
}

body {	/*Couleur de fond de la page*/		
	background-color : #719bd5;	/*Nuance de bleu*/
}

.gauche {	/*Alignement du logo UR à gauche*/
	float: left;	/*Alignement à gauche*/
	padding-left: 10%;	/*Espacement de 10% de la gauche*/
	width : 2%;
}

.centre {	/*Alignement du logo IUT au centre*/ 
	padding-left: 15%;	/*Espacement de 15% de la gauche*/
	padding-right: 10%;	/*Espacement de 10% de la droite*/
	width : 2%;
}

.droite {	/*Alignement du logo RT à droite*/
	float:right;	/*Alignement à droite*/
	padding-right: 10%;	/*Espacement de 10% de la droite*/
	width : 2%;
}

/* Menu fixé en haut de la page */
ul {	/*Création d'une liste*/
    list-style-type: none;		/*Enlève les puces d'une liste */
    margin: 0;		/*Marge autour du menu (0px car on ne veux pas de marge)*/
    padding: 0;		/*Espace entre les choix du menu (0 car non nécessaire)*/
    overflow: hidden;	/*Visibilité du fond du menu */	
    background-color: #333;		/*Couleur de fond du menu*/
    position: fixed;	/*Fixe la barre de menu*/
    top: 0;		/*Position de la barre de menu en haut de la page*/
    width: 100%;	/*Taille du menu*/
}

li {	/*Alignement des boîtes du menu*/
    float: left;	/* aligne les boîtes du menu a gauche */
}

li a {		/*Création des boîtes et éditions des boîtes*/
    display: block;		/*Affichage des choix sous forme de boîtes*/
    color: white;	/*Couleur de la police des choix du menu (blanc ici)*/
    text-align: center;		/*Alignement du texte au milieu des boîtes de chaque choix (au centre ici)*/
    padding: 14px 40px;		/*Espace entre la police et la bordure de boîte des choix*/
    font-family : calibri, sans-serif;	/*Police des caractères (calibri sans serif ici)*/
	font-size : 100%;	/*Taille de la police (140% ici)*/
}

li a:hover:not(.active) {	/*Couleur des boîtes du menu quand on les survole*/
    background-color: #111;	/*Nuance de noir*/
}

.active {	/*Montre la page sur laquelle on est en changeant la couleur de sa boîte*/
    background-color: #00609d;	/*Nuance de bleu*/
}	
	
h1 {	/*Edition de la couleur / taille et police d'écriture pour le titre h1*/
	font-size : 200%;	/*Taille de la police mise sur 200%*/
	color : #172b69;	/*Nuance de bleu*/
	font-family : calibri, sans-serif;	/*Police écrite en calibri sans serif*/
}

h2 {	/*Edition de la couleur / taille et police d'écriture pour le titre h2*/
	font-size : 170%;	/*Taille de la police mise sur 170%*/
	color : #e24c2c;	/*Nuance de rouge*/
	font-family : calibri, sans-serif;	/*Police écrite en calibri sans serif*/
}

h4 {	/*Edition de la couleur / taille et police d'écriture pour le titre h4*/
	font-size : 140%;	/*Taille de la police mise sur 140%*/
	color :	#153d02;	/*Nuance de vert*/
	font-family : calibri, sans-serif;	/*Police écrite en calibri sans serif*/
}

#gauche {	/*Alignement du paragraphe de présentation à gauche*/
	float : left;	/*Alignement du paragraphe à gauche*/
	width : 50%;	/*Ajustement de la largeur du paragraphe à 50%*/
	height : 50%;	/*Ajustement de la hauteur du paragraphe à 50%*/
	padding-right : 5%;	/*Espacement de 5% de la droite*/
}

#droite {	/*Alignement de la photo de l'IUT à droite*/
	float : right;	/*Alignement à droite*/
	height : 45%;	/*Hauteur de l'image réglée sur 45%*/
	width : 45%;	/*Largeur de l'image réglée sur 45%*/
}

#menu { /*Background de la boite des contenu de pages*/
	padding : 1%; 
	margin-top : 3%; 
	background-color : #1abc9c; 
	height : 1100px;
}

#p_gauche { /* Position, Style et taille des portrait de la page Equipe educative*/
	width : 25%;
	font-family : calibri, sans-serif;
	float : left;
	text-align : center;
	font-size : 120%;
}

#p_centre { /* Position, Style et taille des portrait de la page Equipe educative*/
	width : 25%;
	font-family : calibri, sans-serif;
	float : left;
	padding-left : 5%;
	padding-right : 5%;
	text-align : center;
	font-size : 120%;
}

#p_droite { /* Position, Style et taille des portrait de la page Equipe educative*/
	width : 25%;
	font-family : calibri, sans-serif;
	float : right;
	text-align : center;
	font-size : 120%;
}

/*Formulaire de la page Nous contacter*/
form {
  /* Pour le centrer dans la page */
  margin: 0 auto;
  width: 40%;

  /* Pour voir les limites du formulaire */
  padding: 5%;
  border: 1px solid black;
  border-radius: 10px;
}

div + div {
  margin-top: 5%;
}

label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
     Par défaut, textarea utilise une police à espacement constant */
  font-family : calibri, sans-serif;

  /* Pour donner la même dimension à tous les champs textuels */
  width: 90%;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border: 1% solid black;
}

input:focus, textarea:focus {
  /* Afin de réhausser les éléments actifs */
  border-color: black;
}

textarea {
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

  /* Pour donner assez d'espace pour entrer du texte */
  height: 100%;

  /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
     Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}

.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 60%; /* même dimension que les étiquettes */
}

button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: 30%;
}

#contact { /*Police et taille des adresses de contact */
	padding-left : 10px;
	font-family : calibri, sans-serif;
	font-size : 140%;
	border-style : double;
}